{% extends "TLP/layout2.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="card my-2">
        <h3 class="card-header"><strong>Kayıt No :</strong> {{ request.session.kayitDetayID }}</h3>
        <div class="card-body">
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}
                <div class="action-buttons mt-2 text-center ">
                <hr style="margin-right:12%">
                {% if perms.TalepYonetimi.add_destektalebinotlar %}
                    <button type="submit" class="btn btn-success">Not Ekle</button>
                {% endif %}
                    <a href="/TalepYonetimi/TLPkayitDetay/{{request.session.kayitDetayID}}" class="btn btn-danger">Istek Detayına Geri Dön..</a>
                    <hr style="margin-right:12%">
                </div>
            </form>
        </div>
    </div>
{% endblock body %}