{% extends "TLP/layout2.html" %}

{% block body %}
    {% load crispy_forms_tags %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ DestekTalebiDosya.DestekTalebiDosya.url }}"/>
            <!-- Post Content -->
            <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}

        <div class="row">
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kayıt No: </strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.id}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kayıt Tarihi: </strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiBaslamaTarihi}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Ürün/Modül Adı: </strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiUygulama}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Istek Türü  :</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{DestekTalebiKayit.DestekTalebiTuruAdi}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Konu  :</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-93 float-left py-1">{{ DestekTalebiKayit.DestekTalebiKonu|safe }}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kurum Adı  :</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiKurum|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kurum Birimi  :</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiBirim|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Yetkili:</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiKisi|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>İletişim:</strong></div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiKisiTelefon|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Talep Durumu  :</strong> </div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiDurumu|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Tfs Id   :</strong> </div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiTfsId|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Aciklama  :</strong> </div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiAciklama|safe}}</div>
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kullanıcı  :</strong> </div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiUser|safe}}</div>
            {% if DestekTalebiKayit.DestekTalebiDosya %}
            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 float-left py-1"><strong>Kayıt Eklenen Dosya  :</strong> </div>
               <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 float-left py-1">{{ DestekTalebiKayit.DestekTalebiDosya|safe}}</div>
                <a href="{{ DestekTalebiKayit.DestekTalebiDosya.url }}"> <img class="img-responsive" style="max-width: 250px; max-height: 200px" src="{{ DestekTalebiKayit.DestekTalebiDosya.url }}"></a>
            {% endif %}

        </div>

            {% if request.user.is_superuser == True or perms.TalepYonetimi.change_destektalebikayit %}
            <div class="col-12 pt-3">
            <a href="/TalepYonetimi/TLPkayitGuncelle/{{DestekTalebiKayit.id}}" class="btn btn-primary">Güncelle</a>
            {% endif %}
            {% if perms.TalepYonetimi.add_destektalebinotlar %}
            <a href="/TalepYonetimi/TLPDestekTalebiNotEkle/{{DestekTalebiKayit.id}}" class="btn btn-success">Not Ekle</a>
            {% endif %}
            <a href="/TalepYonetimi/TLPkayitacik" class="btn btn-danger py-2 px-4 white mr-2 " >Kayit Aramaya Git</a>
            </div>
            </form>

            {% if DestekTalebiNot %}
            {% include "TLP/includes/TLPDestekTalebiNotDetay.html" %}
            {% else %}
            {{ "Kayıt ilişkin NOT Bulunmamaktadır......" }}
            {% endif %}

        </div>
    </div>

{% endblock body %}