{% extends "TLP/layout2.html" %}

{% block body %}
    {% load crispy_forms_tags %}

<!-- data table rowgroup  -->
<!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h3 class="mb-4 text-center">Açık Istek Talepleri</h3>
                        <form method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="example4_filter" class="dataTables_filter ">
                                <input type="search" name="Kelime" value="{{ request.GET.Kelime }}" class="form-control form-control-sm float-left" aria-controls="example4" placeholder="Arama.." >
                                <button type="submit" class="float-left btn btn-primary py-2 px-4 white mr-2 ">Arama</button>
                                {% if perms.TalepYonetimi.add_destektalebikayit %}
                                <a class="btn btn-primary py-2 px-2 white mr-2 float-right" href="/TalepYonetimi/csv">csv Al</a>
                                <a class="btn btn-danger py-2 px-2 white mr-2 float-right" href="/TalepYonetimi/xls">Excel Al</a>
                                <a class="btn btn-success py-2 px-2 white mr-2 float-right" href="/TalepYonetimi/TLPkayitEkle">Kayıt Ekle</a>
                                {% endif %}
                                <a class="btn btn-success py-2 px-2 white mr-2 float-right" href="/TalepYonetimi/TLPkayitkapali">Kapalı Kayıtlar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% include "TLP/includes/kayitlistesi.html" %}

{% endblock body %}