{% extends "TLP/layout2.html" %}

{% block body %}

    <div class="container">
        <h3 class="text-center">Kişi Tanımlama</h3>
        {% if perms.TalepYonetim.add_kisi %}
        <a style="float: right;" class="btn btn-success py-2 px-4 white mr-2 " href="/TalepYonetimi/TLPkisiEkle">Kisi Ekle</a>
        {% endif %}
        <br>
        <hr>
    </div>
    {% if kisis %}
    <div class="container">
        <div class="row border border-darken-1">
            <div class="col-1 col-md-1 border-left border-darken-1 py-2 text-center d-none d-sm-block">No</div>
            <div class="col-2 col-md-2 border-left border-darken-1 py-2 text-center d-none d-sm-block">Adı ve Soyadı</div>
            <div class="col-4 col-md-4 border-left border-darken-1 py-2 text-center d-none d-sm-block">Kurum Adı</div>
            <div class="col-3 col-md-3 border-left border-darken-1 py-2 text-center d-none d-sm-block">Kurum Birimi</div>
            <div class="col-2 col-md-2 border-left border-darken-1 py-2 text-center d-none d-sm-block">Detay</div>
        </div>

            {% for kisis in kisis %}

        <div class="row border border-darken-1">
            <div class="col-1 col-md-1 border-left border-darken-1 py-2 text-center d-none d-sm-block">{{kisis.id}}</div>
            <div class="col-2 col-md-2 border-left border-darken-1 py-2 d-none d-sm-block">{{kisis.KisiAdiSoyadi}}</div>
            <div class="col-4 col-md-4 border-left border-darken-1 py-2 d-none d-sm-block">{{kisis.KurumAdi}}</div>
            <div class="col-3 col-md-3 border-left border-darken-1 py-2 d-none d-sm-block">{{kisis.KisiBirimAdi}}</div>
            <div class="col-2 col-md-2 border-left border-darken-1 py-2 text-center d-none d-sm-block">
            {% if perms.TalepYonetimi.change_kisi %}
                <a href="/TalepYonetimi/TLPkisiDetay/{{kisis.id}}" class="btn btn-primary">Detay</a>
            {% endif %}
            </div>
        </div>

            {% endfor %}
    </div>

{% else %}

<div class="alert alert-danger">
    Henüz Bilgi Girişi Yapılmamış...
</div>
{% endif %}

{% endblock body %}