{% extends "YON/layout4.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-8 m-auto">
        <div class="col-lg-3"><h3 class="page-header">Şifre Guncelle</h3></div>
        <h5><strong>KULLANICI ADI : </strong>{{ request.user.username }}</h5>

        <hr>
            <form action="{UserPasswordChange}" method="post">
            {% csrf_token %}
                {{form.media}}
                {{form|crispy|escape}}
                <button type="submit">Parolayı Değiştir..</button>

            </form>
    </div>

{% endblock body %}