{% extends "YON/layout4.html" %}
{% load static %}
{% block ust_icerik %}
{% endblock ust_icerik %}

{% block body %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-9 m-auto">
        <h3>Kullanıcı İşlemleri</h3>
        <hr>
        <form method="post" enctype="multipart/form-data" novalidate id = "author-form">
            {% csrf_token %}
            {{user_form.media}}
            {{user_form|crispy}}


            <!--  {{form.as_p}} -->

            <br>
            {% if request.user.is_superuser == True %}
            <div class="action-buttons mt-2 text-center ">
                <hr style="margin-right:12%">
                <button type="submit" class="btn btn-success py-2 px-4 white mr-2 ">Kullanıcı Güncelle</button>
                <a class="btn btn-danger py-2 px-4 white mr-2 " href="/Yonetim/YONregister">Kullanıcı İşlem</a>

                <hr style="margin-right:12%">
            </div>
            {% endif %}
        </form>

            </div>
            </form>

    </div>
</div>

{% endblock body %}