{% extends "YON/layout4.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Kullanıcı Ekle</h3>
        <hr>
        <form method="post" >
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <!--  {{form.as_p}}  {{form|crispy}}-->
            <br>
            <div class="action-buttons mt-2 text-center ">
                <hr style="margin-right:12%">
                <button type="submit" class="btn btn-success py-2 px-4 white mr-2 ">Kullanıcı Ekle</button>
                <a class="btn btn-danger py-2 px-4 white mr-2 " href="/Yonetim/YONregister">Kullanıcı İşlem</a>
                <hr style="margin-right:12%">
            </div>
        </form>
    </div>
</div>

{% endblock body %}