{% extends "YON/layout4.html" %}

{% block body %}

    <div class="container">
        <h3 class="text-center">Uygulama Tanımlama İşlemleri</h3>
        <hr>
    </div>
    {% if Uygulamas %}
    <div class="container">
        <div class="row border border-darken-1">
                <div class="col-1 col-md-1 border-left border-darken-1 py-2 text-center d-none d-sm-block">U. No</div>
                <div class="col-3 col-md-3 border-left border-darken-1 py-2 text-center d-none d-sm-block">Uygulama Adı</div>
                <div class="col-5 col-md-5 col-sm-4  border-left border-darken-1 py-2 text-center">Açıklama</div>
                <div class="col-1 col-md-1 col-sm-4  border-left border-darken-1 py-2 text-center">Aktiflik</div>
                <div class="col-2 col-md-2 col-sm-4  border-left border-darken-1 py-2 text-center">Detay</div>
        </div>

            {% for Uygulama in Uygulamas %}

        <div class="row border border-darken-1">
            <div class="col-1 col-md-1 border-left border-darken-1 py-2 text-center d-none d-sm-block">{{Uygulama.id}}</div>
            <div class="col-3 col-md-3 border-left border-darken-1 py-2 d-none d-sm-block">{{Uygulama.UygulamaAdi}}</div>
            <div class="col-5 col-md-5 col-sm-4 border-left border-darken-1 py-2">{{Uygulama.UygulamaAciklama|truncatewords:2}}</div>
            <div class="col-1 col-md-1 border-left border-darken-1 py-2 d-none d-sm-block">{{Uygulama.UygulamaAktif}}</div>
            <div class="col-2 col-md-2 col-sm-4 border-left border-darken-1 py-2 text-center">
                <a href="/Yonetim/YONuygulamaGuncelle/{{Uygulama.id}}" class="btn btn-primary">Aktiflik</a>
            </div>
        </div>

            {% endfor %}

    </div>

{% else %}

<div class="alert alert-danger">
    Silinen Kayıt Kalmadı...
</div>
{% endif %}

{% endblock body %}