<!DOCTYPE html>
{%load static%}
<html lang="tr" class="loading">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="../../../static/assets/img/favicon.png"/>
    <title>WFA</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../../static/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/assets/libs/css/style.css">
    <link rel="stylesheet" href="../../../static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>

</head>

<body>
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
    <div class="card py-3 px-0">
        <div class="card-header text-center"><a href=""><img class="logo-img"
                                                             src="../../../static/assets/img/crmlogo.png"
                                                             alt="logo"></a></div>
        <div class="card-body m-auto">
            {% block body %}

                       {% endblock body %}

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../../../static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>