{% extends "STS/layout3.html" %}

{% block body %}
{% load crispy_forms_tags %}
          <!-- Comments Form -->
          <div class="card my-2">
            <h3 class="card-header"><strong>Kayıt No :</strong> {{ request.session.SatisDetayID }}</h3>
            <div class="card-body">
              <form method="post"  enctype="multipart/form-data">
                  {% csrf_token %}
                    {{form.media}}
                    {{form|crispy}}
              <div class="action-buttons mt-2 text-center ">
                <hr style="margin-right:12%">
                  {% if perms.Satis.add_stssatisnotlar %}
                  <button type="submit" class="btn btn-success">Not Ekle</button>
                  {% endif %}
                  <a href="/Satis/STSgorusmedetay/{{request.session.SatisDetayID}}" class="btn btn-danger">Satis Detaya Geri Dön..</a>
               <hr style="margin-right:12%">
              </div>
              </form>
            </div>

{% endblock body %}