{% extends "STS/layout3.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Yeni Sözleşme Girişi</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}

            <!--  {{form.as_p}} -->
            <br>
            <div class="action-buttons mt-2">
                <hr style="margin-right:12%">
                <button type="submit" class="btn btn-success py-2 px-4 white mr-2 ">Kaydet</button>
                <a class="btn btn-danger py-2 px-4 white mr-2 " href="/Satis/STSsozlesmelerimiz">Kayıtlı Sözleşmeler</a>
                <hr style="margin-right:12%">
            </div>
        </form>
    </div>
</div>

{% endblock body %}