{% extends "PTK/layout60.html" %}
{% if perms.PerTakip.add_perizindurum %}
{% load static %}
{% block ust_icerik %}
    <script type="text/javascript">
        function hesaplama()
        {
            var sayi1 = document.getElementById('id_NotStokMiktar').value;
            var sayi2 = document.getElementById('id_NotStokAlisFiyati').value;
            var sayi3 = document.getElementById('id_NotNakiyeMasraf').value;
            var sayi4 = document.getElementById('id_NotDigerMasraf').value;
            var sayi5 = document.getElementById('id_NotOran').value;

            if(sayi1=="" || sayi2=="" ){
            document.getElementById('id_NotToplam').value = "";
            }else{
            document.getElementById('id_NotToplam').value = parseFloat(sayi1) * parseFloat(sayi2)+parseFloat(sayi3)+parseFloat(sayi4);
            document.getElementById('id_NotMamul').value = parseFloat(sayi1) * parseFloat(sayi5);
            }
        }
            setInterval("hesaplama();",200);
    </script>
{% endblock ust_icerik %}

{% block body %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-9 m-auto">

        <h3>Personel İzin Ekleme</h3>
        <hr>
        <form method="post" enctype="multipart/form-data" novalidate id = "author-form">
            {% csrf_token %}
            <table border:1>
                {{form.media}}
                {{form|crispy}}
                <!--  {{form.as_p}} -->
            </table>
            <br>
            <div class="action-buttons mt-2 text-center ">
                <hr style="margin-right:12%">
                {% if perms.PerTakip.add_perizindurum %}
                    <button type="submit" id ="selam" class="btn btn-success py-2 px-4 white mr-2 ">Personel İzin Ekle</button>
                {% endif %}
                {% if perms.PerTakip.view_perizindurum %}
                    <a class="btn btn-primary py-2 px-4 white mr-2 " href="/PerTakip/PTKIzinKayit">İzin Arama Git</a>
                {% endif %}
                <a class="btn btn-danger py-2 px-4 white mr-2 " href="/PerTakip/PTKindex">AnaSayfa Git</a>
                <hr style="margin-right:12%">
            </div>
        </form>

    </div>
</div>


{% endblock body %}
{% block alt_icerik %}
    <script>
        function myFunction() {
        var x = document.getElementById("id_PerIzinBaslatarihi").value;
        var y = document.getElementById("id_PerIzinBitistarihi").value;
        document.getElementById("id_PerIzinSüresi").innerHTML = y-x;
        }
    </script>
{% endblock alt_icerik %}
{% endif %}

