{% load crispy_forms_tags %}

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 float-left border-right clearfix">
    Son Duyurular

    <marquee class="float-left border-3 border-top border-top-primary mt-2 " id='duyuru' scrollamount="4" height="250" direction="up">
        <div onMouseOver="document.getElementById('duyuru').stop();" onMouseOut="document.getElementById('duyuru').start();">
            {% if Duyurulars %}
                {% for Duyurular in Duyurulars %}
                    <a href="/CagriDestek/CDKDuyuruDetay/{{ Duyurular.id }}">
                        <div style="box-shadow: 3px 3px 3px #ccc">
                            <div class="card">
                                <h3 class="card-header py-2">{{ Duyurular.DuyuruBaslik }}</h3>
                                <div class="card-body py-0">
                                    <div class="media py-0">
                                        <div class="media-body top-0 pb-2 ">
                                            <h6 class="py-0">{{ Duyurular.DuyuruTarihi}} - - {{ Duyurular.DuyuruUser }}</h6>
                                            {{Duyurular.DuyuruAciklama|safe|truncatewords:50}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger">
                       Henüz Duyuru Yayınlanmamış
                </div>
            {% endif %}

        </div>
</marquee>
</div>